@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  padding: 0;
  margin: 0; /* Also removes margin */
  background-color: #030712;
  color: #fafafa;
}

body {
  font-family: "Poppins";
  padding: 0;
  margin: 0; /* Also removes margin */
  background-color: #030712;
  color: #fafafa;
}
nav {
  background-color: #030712;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}
nav a {
  text-decoration: none;
  color: #fafafa;
}
.nav-container {
  display: flex;
  gap: 1em;
  align-items: center;
}
.logo {
  font-weight: 500;
  font-size: 1em;
}
nav a {
  font-size: 0.75em;
}
@keyframes slideUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#about1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-left: 6em;
  padding-right: 6em;
}
#about1 #left {
  width: 50%;
  animation-name: slideLeft;
  animation-duration: 1s;
  z-index: 0;
  animation-timing-function: ease-in-out;
}
#about1 #right {
  width: 50%;
  animation-name: slideRight;
  animation-duration: 1s;
  z-index: 0;
  animation-timing-function: ease-in-out;
}
#desktop-img {
  width: 100%;
}
#mobile-img {
  display: none;
}

#skills {
  padding-left: 6em;
  padding-right: 6em;
}
#skills #skills-container {
  display: flex;
  justify-content: space-between;
}
#skills #skills-container #skill-section {
  border-left: 2px solid #4f46e5;
  padding-left: 1em;
  padding-top: 0;
  width: 100%;
  animation-name: slideUp;
  animation-duration: 1s;
  z-index: 0;
  animation-timing-function: ease-in-out;
}
#skills #skills-container #skill-section h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #4f46e5;
}
#skills #skills-container #skill-section p {
  margin-left: 2px;
}
#invite {
  margin-top: 60px;
}
#invite a {
  color: #fafafa;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #4f46e5;
  border: 0;
  text-decoration: none;
  border-radius: 12px;
}
#contact {
  border-radius: 4em;
  padding: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #4f46e5;
  margin-top: 5em;
  margin-bottom: 5em;
}

#contact a {
  color: #4f46e5;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #fafafa;
  border: 0;
  text-decoration: none;
  border-radius: 12px;
}
#contact p {
  width: 80%;
  text-align: center;
}

footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 4em;
}

footer a {
  text-decoration: none;
  color: #fafafa;
  text-align: center;
  font-size: 0.75em;
}
footer #footer-grid {
  display: flex;
  gap: 1em;
}

#footer-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#dropdown-menu {
  display: none;
}
#hamburger {
  display: none;
}
#cta {
  background-color: #4f46e5;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .nav-container {
    display: none;
  }
  nav {
    position: relative;
    z-index: 1;
  }
  #toggle {
    display: block;
  }
  #desktop-img {
    display: none;
  }
  #mobile-img {
    width: 100%;
    display: block;
  }
  #hamburger {
    display: block;
  }
  #hamburger:checked + #dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    gap: 12px;
  }
  #dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;

    border-bottom: 4px solid #4f46e5;
    border-radius: 10px;
    left: 0;
    top: 100%; /* Align below the parent link */
    background-color: #030712;
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 5px 10px 5px #4f46e520;
  }
  #dropdown-menu a {
    color: #fafafa;
  }
  #about1 {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  #about1 #left {
    width: 100%;
  }
  #right {
    display: none;
  }
  #about1 h1 {
    width: 100%;
  }
  #about1 p {
    width: 100%;
  }
  #skills {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  #skills #skills-container {
    flex-direction: column;
    gap: 24px;
  }
  nav {
    padding: 1em;
  }
  footer {
    flex-direction: column;
    padding: 1em;
    justify-content: start;
    align-items: start;
  }
  #footer-section {
    align-items: start;
    justify-content: start;
  }
  #footer-grid {
    flex-direction: column;
  }
  #contact {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #contact p {
    width: 100%;
    text-align: start;
  }
}
