@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  padding: 0;
  margin: 0; /* Also removes margin */
  background-color: #030712;
  color: #fafafa;
}
nav {
  width: 100%;
  position: fixed;
  box-shadow: 1px 2px 6px #4f46e520;
  background-color: #030712;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}
nav a {
  text-decoration: none;
  color: #fafafa;
}
.nav-container {
  display: flex;
  gap: 1em;
}

.logo {
  font-weight: 500;
  font-size: 1em;
}
nav a {
  font-size: 0.75em;
}

#toggle {
  display: none;
}
#dropdown-menu {
  display: none;
}

#hero-mobile-pic {
  display: none;
}
#hero {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #030712;
  color: #fafafa;
  padding-bottom: 5em;
  padding-top: 5em;
}
#hero h1 {
  font-size: 2em;
  width: 75%;
  margin: auto;
  text-align: center;
}
#hero p {
  font-size: 1em;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#hero #buttons {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#hero #buttons #button1 {
  color: #fafafa;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #4f46e5;
  border: 0;
  text-decoration: none;
  border-radius: 12px;
}
#hero #buttons #button2 {
  color: #fafafa;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-decoration: none;
  background-color: rgba(79, 70, 229, 0.5); /* 50% opacity */
  border: 2px solid #4f46e5;
  border-radius: 12px;
}
#hero-desktop-pic {
  width: 45%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

#experience {
  background-color: #030712;
  color: #fafafa;
  padding-bottom: 5em;
  padding-top: 5em;
  padding-left: 6em;
  padding-right: 6em;
}

#experience #banner {
  display: flex;
  padding: 2em;
  align-items: center;
  justify-content: center;
  gap: 8;
  background-color: #fafafa;
  border-radius: 12px;
}
#experience #banner #first {
  font-size: 2em;
  font-weight: 600;
  color: #14b8a6;
}
#experience #banner #second {
  font-size: 2em;
  font-weight: 600;
  color: #32424a;
}

#experience #banner img {
  width: 10%;
}
#skills-grid {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  gap: 1em;
  margin-top: 2em;
}

#skills-grid #skill {
  background-color: rgba(79, 70, 229, 0.25); /* 50% opacity */
  padding: 1em;
  border: 3px solid #4f46e5;
  border-radius: 12px;
}

#skills-grid #skill a {
  text-decoration: none;
  color: #fafafa;
  text-decoration: underline;
  font-weight: 300;
  font-size: 1em;
}
#skills-grid #skill h2 {
  font-weight: 500;
}
#skills-grid #skill img {
  width: 10%;
}
#skills-grid #skill #logos {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
}
#skills-grid > #skill:nth-child(2) {
  border: 2px solid #14b8a6;
  background-color: #14b8a620;
}
#experience #text {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

#experience a {
  text-decoration: underline;
  color: #4f46e5;
  font-weight: 600;
}

#contact {
  border-radius: 4em;
  padding: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #4f46e5;
  margin-top: 5em;
  margin-bottom: 5em;
}

#contact a {
  color: #4f46e5;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #fafafa;
  border: 0;
  text-decoration: none;
  border-radius: 12px;
}
#contact p {
  width: 80%;
  text-align: center;
}

footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 4em;
}

footer a {
  text-decoration: none;
  color: #fafafa;
  text-align: center;
  font-size: 0.75em;
}
footer #footer-grid {
  display: flex;
  gap: 1em;
}

#footer-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (max-width: 768px) {
  .nav-container {
    display: none;
  }
  nav {
    position: relative;
    z-index: 1;
  }
  #toggle {
    display: block;
  }

  #toggle {
    background-color: transparent;
    color: white;
    border: 0;
  }
  #dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;

    border-bottom: 4px solid #4f46e5;
    border-radius: 10px;
    left: 0;
    top: 100%; /* Align below the parent link */
    background-color: #030712;
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 5px 10px 5px #4f46e520;
  }
  #dropdown-menu a {
    color: #fafafa;
  }
  #toggle:focus + #dropdown-menu,
  #toggle:active + #dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    gap: 12px;
  }

  nav {
    padding: 1em;
  }
  footer {
    flex-direction: column;
    padding: 1em;
    justify-content: start;
    align-items: start;
  }
  #footer-grid {
    flex-direction: column;
  }
  #footer-section {
    align-items: start;
    justify-content: start;
  }
  #hero {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  #hero h1 {
    width: 100%;
    font-size: 1.5em;
  }
  #hero p {
    width: 100%;
  }
  #hero-mobile-pic {
    width: 75%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #hero-desktop-pic {
    display: none;
  }
  #hero #buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  #experience {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  #banner {
    width: 100%;
  }
  #skills-grid {
    width: 100%;
    grid-template-columns: 100%;
  }
  #text {
    flex-direction: column;
  }
  #contact {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
